<div class="product-filter">
  <form class="product-filter__form" [formGroup]="filterForm">
    <div class="product-filter__form__controls">
      <div class="product-filter__form__controls__button">
        <p-button
          label="Apply"
          (click)="appendSearchFilters()"
        ></p-button>
      </div>
      <div class="product-filter__form__controls__button">
        <p-button
          label="Reset"
          [outlined]="true"
          severity="secondary"
          (click)="resetSearchFilters()"
        ></p-button>
      </div>
    </div>
    <div class="product-filter__form__filter-item">
      <div class="product-filter__form__filter-item__dropdown" *ngFor="let formField of formFields">
        <div class="product-filter__form__filter-item__label">
          {{formField.label}}
        </div>
        <p-dropdown
          [formControlName]="formField.name"
          [options]="formField.options"
          [style]="{'width':'100%'}"
          optionLabel="name"
          placeholder="Select Filter"
        ></p-dropdown>
      </div>
    </div>
    <div class="product-filter__form__filter-item">
      <div class="product-filter__form__filter-item__price-range">
        <div class="product-filter__form__filter-item__label">
          Price
        </div>
        <div class="product-filter__form__filter-item__price-range__inputs">
          <input
            type="text"
            pInputText
            formControlName="lowerPrice"
          />
          <input
            type="text"
            pInputText
            formControlName="upperPrice"
          />
        </div>
        <p-slider
          formControlName="priceValues"
          (onChange)="updatePriceRange()"
          [min]="priceRanges.lowest_price_range - 1"
          [max]="priceRanges.max_price_range + 1"
          [range]="true"
        ></p-slider>
      </div>
    </div>
  </form>
</div>
